* text=auto

*.md text diff=markdown

*.json text linguist-detectable=true
*.yaml text linguist-detectable=true

*.cs       text diff=csharp
*.sln      text eol=crlf
*.csproj   text eol=crlf

# Text files where line endings should be preserved
*.patch    -text

.gitattributes export-ignore
.gitignore     export-ignore
.gitkeep       export-ignore
